
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #f2f2f2;
    color: #333;
}


header {
    background-color:  #960371;
    color: white;
    padding: 20px;
    text-align: center;
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}


main {
    background-color: #ffffff;
    max-width: 1000px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 8px;
}


article {
    margin-bottom: 40px;
}

h2 {
    color:  #960371;
    margin-bottom: 15px;
}

h3 {
    margin-top: 15px;
    margin-bottom: 5px;
}


.about-container {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    align-items: center;
}

.about-container img {
    width: 160px;
    border-radius: 10px;
}


.info p {
    margin-bottom: 6px;
}


ul {
    margin-left: 20px;
}


.favorites {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.favorites img {
    width: 180px;
    border-radius: 10px;
}

figure {
    text-align: center;
}

figcaption {
    margin-top: 8px;
    font-weight: bold;
}


footer {
    background-color: #960371;
    color: white;
    text-align: center;
    padding: 12px;
    margin-top: 20px;
}